#menu{
    background-color:black ;
}
#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu ul li{
    display: inline-block;
}
#menu ul li a{
    color: white;
    display: block;
    padding: 20px 79.35px;
    text-decoration: none;
}
#menu ul li a:hover{
     background-color: #42BBB1;
}
